doctype html
html(lang="en")
  head
    title MSN Directory
    script(src="/jquery-3.1.0.min.js")
    link(rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    script(src="/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    link(rel="stylesheet" href="/bootstrap-3.3.7-dist/thirdparty/buttons.css")

    link(rel="stylesheet" href="/FontAwesome/css/font-awesome.css")

    link(rel="stylesheet" href="/client.css")
    if SystemInfo
      script.
        console.log('SystemInfo');
        window.SystemInfo = !{JSON.stringify(SystemInfo)};
    else
      script.
        console.log('No SystemInfo');

    script(src="/client.js")
  body.preload
      div.row
        h1(id="title", align="center") Welcome to Makerspace North
      div.row
        div#Tenants
      #confirm-submit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='false')
        .modal-dialog
          .modal-content
            .modal-header#CompanyName
            .modal-body
              div.row
                div#CompanyInfo
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              a#submit.btn.btn-success.success(type='button', data-dismiss='modal') Send email telling them you are here